.root {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;

  background: var(--secondary-color);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 10px 10px rgb(140, 140, 140);
  /* border: 3px solid black; */
}

.header {
  position: relative;  
  text-align: center;
  top: 20%;

  font-family: var(--standard-font);
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  
  color: var(--main-color)
}




