.root {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    left: 5%;
    width: 90%;
    padding: 5%;

    background: var(--secondary-color);
    border: 4px solid var(--main-color);
    border-radius: 50px;
}

.author_nick {
    position: relative;
    /* overflow: hidden; */

    font-family: var(--standard-font);
    font-style: normal;
    font-weight: 800;
    font-size: 1.5em;

    color: var(--main-color)
}

.post_date {
    position: relative;
    /* overflow: hidden; */

    font-family: var(--standard-font);
    font-style: normal;
    font-weight: 800;
    font-size: 1em;

    color: var(--background-color)
}

.post_text {
    position: relative;

    font-family: var(--standard-font);
    font-style: normal;
    font-size: 1em;
}

.post_likes_comments {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;

    font-family: var(--standard-font);
    font-style: normal;
    font-size: 1em;
    color: var(--main-color);
}