.root {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    left: 5%;
    width: 90%;

    background: var(--secondary-color);
    border: 4px solid var(--main-color);
    border-radius: 50px;
}

.author_nick {
    position: absolute;
    padding-left: 16%;
    top: 10%;
    overflow: hidden;

    font-family: var(--standard-font);
    font-style: normal;
    font-weight: 800;
    font-size: 1.5em;

    color: var(--main-color)
}

.post_date {
    position: absolute;
    left: 16%;
    top: 50%;
    overflow: hidden;

    font-family: var(--standard-font);
    font-style: normal;
    font-weight: 800;
    font-size: 1em;

    color: var(--background-color)
}

.post_text {
    position: relative;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;

    font-family: var(--standard-font);
    font-style: normal;
    font-size: 1em;
}

.post_likes_comments {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 5%;

    font-family: var(--standard-font);
    font-style: normal;
    font-size: 1em;
    color: var(--main-color);
}

.add_comm {
    position: relative;
    display: block;
    margin: auto;
    padding: 1% 1% 1% 1%;
    margin-bottom: 2%;

    font-family: var(--standard-font);
    font-style: normal;
    font-size: 1em;
    color: var(--secondary-color);

    border-radius: 50px;
    background-color: var(--main-color);
    transition: background-color 0.3s ease;

}