.root {
  position: absolute;
  top: 10%;
  right: 20px;
  width: 50px;
  height: 80%;
  /* align-items: flex-start; */
  /* overflow: hidden; */
}
.icon {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}
.vector {
  position: absolute;
  left: 39.801%;
  right: 36.3183%;
  top: 45%;
  bottom: -0.0001%;
  overflow: visible;
}
.vector2 {
  position: absolute;
  left: -0.0004%;
  right: 36.5168%;
  top: -0.0003%;
  bottom: 46.0287%;
  overflow: visible;
}
.vector3 {
  position: absolute;
  left: 49.8065%;
  right: -0.0005%;
  top: -0.0003%;
  bottom: 54.2938%;
  overflow: visible;
}
