.option {
    height: 10%;
    padding: 1%;
    margin-left: 5px;
    font-family: var(--standard-font);
    font-style: normal;
    font-size: 1em;
    color: rgba(0, 0, 0, 59%);

    background: var(--secondary-color);
    border: 2px solid rgba(0, 0, 0, 59%);
    border-radius: 15px;
}
.option:hover{
    color: var(--main-color);
    border-color: var(--main-color);
}
.centre {
    position: relative;
    height: 100%;
    background: var(--secondary-color);
    border: 2px solid var(--main-color);
}

.rowBox {
    padding-left: 7px;
    display: flex;
    flex-direction: row;
}